<section class="center w-80 w-75-l mv6-ns mv5">
  <h2 class="f4 lh4">Edit User</h2>

  <%= render "form.html", Map.put(assigns, :action, user_path(@conn, :update, @user.entry_id)) %>

  <span><%= link "Back", to: user_path(@conn, :index) %></span>
</section>
