<section class="center w-80 w-75-l mv6">
  <h2 class="f4 lh4 pb3">Upload a photo for your venue</h2>
  <%= component("venue_image_upload", photo_number: 1, id: @id, conn: @conn, venue_images: @venue_images) %>
  <%= component("venue_image_upload", photo_number: 2, id: @id, conn: @conn, venue_images: @venue_images) %>
  <%= component("venue_image_upload", photo_number: 3, id: @id, conn: @conn, venue_images: @venue_images) %>
  <%= component("venue_image_upload", photo_number: 4, id: @id, conn: @conn, venue_images: @venue_images) %>

</section>
