<div class="pv1">
  <%= if @venue.address do %>
  <p class="f5 lh5 pr2 dib"><%= @venue.address %></p>
  <% end %>
  <%= if @venue.city do %>
  <p class="f5 lh5 pr2 dib"><%= @venue.city %></p>
  <% end %>
  <p class="f5 lh5 pr4 dib"><%= @venue.postcode %></p>
  <p class="f6 lh6 cs-mid-blue underline dib">Get Directions</p>
</div>
