<section class="center w-80 w-75-l mv6-ns mv5">
  <h2 class="f4 lh4">New Brand</h2>
  <%= custom_render_autoform(@conn, :create, [{CsGuide.Resources.Brand, custom_labels: %{sold_amazon: "Sold on Amazon"}}], assigns: [changeset: @changeset], exclude: [:entry_id, :deleted, :drinks], update_field: :entry_id) %>
  <span><%= link "Back", to: brand_path(@conn, :index) %></span>
</section>
