body {
  font-family: "Open Sans", sans-serif;
  color: #333333;
}

form {
  margin: 1rem auto;
}

/* Fonts */

.roboto-slab {
  font-family: "Roboto Slab";
}

.open-sans {
  font-family: "Open Sans", sans-serif;
}

/* Colours */

.cs-mid-blue {
  color: #2B7CDA;
}

.bg-cs-mint {
  background-color: #00C6B3;
}

.bg-cs-navy {
  background-color: #2E304F;
}

.cs-black {
  color: #333333;
}

.bg-cs-black {
  background-color: #333333;
}

.cs-pink {
  color: #E30B5D;
}

.bg-cs-pink {
  background-color: #E30B5D;
}

.b--cs-pink {
  border-color: #E30B5D;
}

.bg-cs-light-pink {
  background-color: #FBE2DB;
}

.b--cs-light-pink {
  border-color: #FBE2DB;
}

.bg-cs-yellow {
  background-color: #FFB700;
}

.bg-cs-light-gray {
  background-color:#EBEBEB;
}

.bg-cs-light-gray-hover:hover {
  background-color:#EBEBEB;
}

.b--cs-light-gray {
  border-color:#EBEBEB;
}

.bg-sheer-white {
  background: rgba(255, 255, 255, 0.5);
}

/* Line heights to correspond with tachyons font classes */

.lh1 {
  line-height: 4rem; /* 64px */
}

.lh2 {
  line-height: 3.375rem; /* 54px */
}

.lh3 {
  line-height: 2.5rem; /* 40px */
}

.lh4 {
  line-height: 2rem; /* 32px */
}

.lh5 {
  line-height: 1.5rem; /* 24px */
}

.lh6 {
  line-height: 1.25rem; /* 20px */
}

/* Font Size */

.f4-5 {
  font-size: 1.15rem;
}

/* Heights */

.h4-5 {
  height: 14rem;
}

/* AutoForm Classes */

.control-label {
  display: block;
  color: #333333;
  font-family: "Open Sans";
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
  padding-bottom: 0.5rem; /* 8px */
}

.form-control:not([type='checkbox']) {
  border: 1px solid #EBEBEB;
  border-radius: .25rem;
  margin-bottom: 1rem; /* 16px */
  padding: 0.5rem; /* 8px */
  box-sizing: border-box;
  width: 100%;
}

.form-control[type=checkbox] ~ label {
  margin-right: 1rem;
  margin-left: 0.25rem;
}

.form-control, .form-control ~ label{
  font-family: "Open Sans";
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
}

@media (min-width: 60em) {
  .form-control {
    max-width: 20rem;
  }
}

.form-control:hover {
  border: 1px solid #A5A5A5;
}

.btn-primary {
  background-color: #00C6B3;
  font-family: "Open Sans";
  text-align: center;
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
  color: #333333;
  border: none;
  padding: 0.5rem 1.5rem; /* 8px, 24px */
  border-radius: .25rem
}

.btn-primary:active {
  background-color: #00b2a1;
}

.btn-primary:hover {
  background-color: #19cbba;
}

.control-label.required::after {
  color: #E30B5D;
  content: "*";
}
/* AutoForm Classes End */

.img-cover {
  object-fit: cover;
}

.top-6 {
  top: 6rem;
}

.right-4 {
  right: 4rem;
}

.w-1-5rem {
  width: 1.5rem;
}

.w-5rem {
  width: 5rem;
}

@media (min-width: 30rem) {
  .w-sixth-ns {
    width: 16.6%;
  }
}

.h-25rem {
  height: 25rem;
}

.h-27rem {
  height: 27rem;
}

.pt-3rem {
  padding-top: 3rem;
}

@media (max-width: 30rem) {
  .pb-3rem-s {
    padding-bottom: 3rem;
  }
  .mt-30rem-s {
    margin-top: 30rem;
  }
}

/* Venue Sign up - adding custom drinks */

.custom-drink-msg {
  display: none;
}

.custom-drink:hover ~ .custom-drink-msg,
.custom-drink:focus ~ .custom-drink-msg{
  display: inline-block;
}

.custom-drink-msg {
	position: relative;
	background: #ffffff;
	border: 1px solid #EBEBEB;
}
.custom-drink-msg:after, .custom-drink-msg:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.custom-drink-msg:after {
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #ffffff;
	border-width: 5px;
	margin-top: -5px;
}
.custom-drink-msg:before {
	border-color: rgba(235, 235, 235, 0);
	border-right-color: #EBEBEB;
	border-width: 6px;
	margin-top: -6px;
}

/* End of Venue Sign up - adding custom drinks */

/* Drinks card 'flipping' */

.display-back:checked ~ .card-back-contents {
  display: block;
}

.display-back ~ label:after {
  content: "More Details";
}

.display-back:checked ~ label:after {
  content: "Close";
}

/* End of drinks card 'flipping' */

/* Landing page bg images */
.bg-hero {
  background-image: url("/images/hero-image.png");
  background-repeat: no-repeat;
  object-fit: cover;
  background-position: center;
  background-size: cover;
  height: 70vh;
}

.bg-nominate-venue {
  background-image: url("/images/nominate-venue-img.jpg");
  background-repeat: no-repeat;
  object-fit: cover;
  background-position: 0 30%;
  background-size: cover;
  height: 30rem;
}

@media (min-width: 30em) {
  .bg-nominate-venue {
    height: 13rem;
  }
}

@media (min-width: 48em) {
  .bg-hero {
    height: 107vh;
  }
}

.bg-newsletter {
  background-image: url("/images/newsletter-image.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 32rem;
}

.black-gradient {
  background: -moz-linear-gradient(left, rgba(51,51,51,1) 0%, rgba(49,49,49,1) 1%, rgba(0,0,0,0.85) 31%, rgba(0,0,0,0.75) 50%, rgba(255,255,255,0.5) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(51,51,51,1) 0%,rgba(49,49,49,1) 1%,rgba(0,0,0,0.85) 31%,rgba(0,0,0,0.75) 50%,rgba(255,255,255,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(51,51,51,1) 0%,rgba(49,49,49,1) 1%,rgba(0,0,0,0.85) 31%,rgba(0,0,0,0.75) 50%,rgba(255,255,255,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#80ffffff',GradientType=1 ); /* IE6-9 */
}

/* Landing page bg images END */

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 30em) {
  .absolute-center-s {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .absolute-horizontal-center-s {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .bottom-4-s {
    bottom: 4rem;
  }
}

.absolute-vertical-center {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

@media (min-width: 60em){
  .absolute-vertical-center-ns {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }
}

#brand-search {
  background-image: url("/images/search-icon.svg");
  background-position: right 5px top 5px;
  background-repeat: no-repeat;
}