<section class="center w-80 w-75-l mv6">
  <h2 class="f4 lh4">Show Discount Code</h2>
  <ul class="pv3">
    <li>
      <strong>Discount code:</strong>
      <%= @discount_code.code %>
    </li>
  </ul>

<span><%= link "Edit", to: discount_code_path(@conn, :edit, @discount_code.entry_id) %></span>
<span><%= link "Back", to: discount_code_path(@conn, :index) %></span>
</section>
