<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-56935445-6"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-56935445-6');
    </script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%= meta_description(@conn) %>" >
    <meta name="author" content="">

    <title><%=page_title(assigns[:static_page])%></title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <header>
      <nav role="navigation" class="absolute top-0 left-0 z-2 flex flex-wrap items-center w-100">
        <div class="w-60 w-20-ns mv3">
          <a href="/">
            <img src="<%= static_path(@conn, "/images/logo.png") %>" alt="Club Soda Logo" class="ml3 ml5-l">
          </a>
        </div>

        <input type="checkbox" id="burger" class="dn">
        <label for="burger" class="dib dn-ns w-third tr menu_icons">
          <img class="w2 burger_icon" src="<%= static_path(@conn, "/images/burger_menu.svg") %>" alt="Open Burger Menu">
          <img class="w2 dn x_icon fr" src="<%= static_path(@conn, "/images/close_menu_x.svg") %>" alt="Close Burger Menu">
        </label>

        <!-- MOBILE MENU -->
        <div class="menu dn tl pb4 bg-white cs-black w-100">
          <a href="/search/drinks" class="db f5 lh5 pl3 pv2 cs-black no-underline">Drinks</a>
          <a href="/search/venues" class="db f5 lh5 pl3 pt2 pb3 cs-black no-underline">Venues</a>
          <a href="/users/new" class="db f5 lh5 pl3 pt2 pb3 cs-black no-underline">List a Venue</a>
          <a href="/brands" class="db f5 lh5 pl3 pt2 pb3 cs-black no-underline">Brands</a>
          <%= for page <- @static_page_links do %>
            <%= if page.display_in_menu do %>
              <%= link page.title_in_menu, to: static_page_path(@conn, :show, change_spaces_to_dashes(page.page_title)), class: "db f5 lh5 pl3 pt2 pb3 cs-black no-underline" %>
            <% end %>
          <% end %>
          <%= if @current_user do %>
            <%= link "Log out",
              to: session_path(@conn, :delete, @current_user),
              method: "delete",
              class: "db f5 lh5 pl3 pt2 pb3 cs-black no-underline"
            %>
          <% else %>
            <%= link "Log in",
              to: session_path(@conn, :new),
              class: "db f5 lh5 pl3 pt2 pb3 cs-black no-underline"
            %>
          <% end %>
        </div>

        <!-- DESKTOP MENU -->
        <div class="w-80 mv2 dn dib-ns tr">
          <a href="/search/drinks" class="f5 lh5 ph2 ph4-ns pv2 cs-black no-underline br2">Drinks</a>
          <a href="/search/venues" class="f5 lh5 ph2 ph4-ns pv2 cs-black no-underline br2">Venues</a>
          <a href="/users/new" class="f5 lh5 ph2 ph4-ns pv2 cs-black no-underline br2">List a Venue</a>
          <a href="/brands" class="f5 lh5 ph2 ph4-ns pv2 cs-black no-underline br2">Brands</a>
          <%= for page <- @static_page_links do %>
            <%= if page.display_in_menu do %>
              <%= link page.title_in_menu, to: static_page_path(@conn, :show, change_spaces_to_dashes(page.page_title)), class: "f5 lh5 ph2 ph4-ns pv2 cs-black no-underline br2" %>
            <% end %>
          <% end %>
          <%= if @current_user do %>
            <%= link "Log out",
              to: session_path(@conn, :delete, @current_user),
              method: "delete",
              class: "f5 lh5 ph2 ph4-ns pv2 cs-black no-underline br2"
            %>
          <% else %>
            <%= link "Log in",
              to: session_path(@conn, :new),
              class: "f5 lh5 ph2 ph4-ns pv2 cs-black no-underline br2"
            %>
          <% end %>
        </div>

      </nav>
      <span class="logo"></span>
    </header>

    <main role="main" class="body-container relative">
      <p class="pl3 lh4 b alert alert-info absolute top-0 left-0 right-0 z-1" role="alert"><%= get_flash(@conn, :info)%></p>
      <p class="pl3 lh4 b alert alert-info absolute top-0 left-0 right-0 z-1" role="alert"><%= get_flash(@conn, :error)%></p>

      <%= if @conn.assigns.cookies_accepted == nil do %>
        <div class="w-100 ph3 fixed bottom-0 z-max">
          <div class="bg-cs-pink w-100 mw6-l mb3 pa3 pa4-l white br2">
            <p class="mb2 lh-title">This website uses cookies to ensure you get the best experience on our website.</p>
            <a href="/Terms-and-Conditions" class="db mb3 white">Learn more</a>
            <div class="tc">
              <%= link "Got it!",
                to: cookie_path(@conn, :accept_cookies, assigns.conn.request_path),
                class: "btn-accept-cookie no-underline bg-white",
                method: :post
              %>
            </div>
          </div>
        </div>
      <% end %>

      <%= render @view_module, @view_template, assigns %>
    </main>
    <footer class="mt6 pv5 pv-6rem-ns bg-footer">
      <div class="w-90 w-75-ns h-100 center flex">
        <div class="dib w-30 w-10-ns pr4 pr0-ns h-100 relative">
          <img src="<%= static_path(@conn, "/images/cs-logo-min.png") %>" alt="Club Soda Logo" class="w-100 absolute-vertical-center-ns">
        </div>
        <div class="w-70 w-90-ns pl3 pl5-ns">
          <%= for page <- @static_page_links do %>
            <%= if page.display_in_footer do %>
              <%= link page.title_in_menu, to: static_page_path(@conn, :show, change_spaces_to_dashes(page.page_title)), class: "white w-33-l w-50-m dib-ns db mv2" %>
            <% end %>
          <% end %>
        </div>
      </div>
    </footer>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
