<h2>Show Drink style</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @drink_style.name %>
  </li>

</ul>

<span><%= link "Edit", to: drink_style_path(@conn, :edit, @drink_style.entry_id) %></span>
<span><%= link "Back", to: drink_style_path(@conn, :index) %></span>
