<div id="search"></div>
<script type="text/javascript">
  const drinks = <%= raw Poison.encode!(@drinks) %>
  const searchTerm = <%= raw Poison.encode!(@term) %>
  const dtype = <%= raw Poison.encode!(@drink_type) %>
  const typesAndStyles = <%= raw Poison.encode!(@types_styles) %>
</script>
