<section class="center w-80 w-50-l mt6">
  <h3 class="f4-5 mb4">Add drinks sold by the retailer</h2>
  <%= component("drinks_accordion", brands: @brands, current_drinks: @current_drinks, changeset: @changeset, action: @action, conn: @conn) %>
</section>
